/* ResetPassword.module.css */
.container {
    background: #14618F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #FFFFFF;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    font-size: 16px;
    margin-bottom: 40px; 
  }
  
  
  
  .formGroup input {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    outline: none;
    font-size: 16px;
    width: 250px;
  }
  
  .resetButton {
    background-color: #FFFFFF;
    color: #14618F;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  